.immersion-page {
  width: 100vw;
  height: 100vh;
  position: relative;


  &-landing-container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  &-landing-header {
    width: 100%;
    height: 4em;
    position: absolute;
    background: transparent;
  }

  &-landing-left {
    width: 40%;
    height: 100%;
    background: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    video {
      width: 100%;
      margin: 0 auto;
      height: 70%;
      width: 100%;
      margin: 0 auto;
      height: 70%;
      transform: scale(3.5);
      z-index: 0;
    }
  }

  &-landing-right {
    width: 60%;
    height: 100%;
    background: #252525;
    display: inline-block;
  }

  &-landing-data {
    color: white;
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: space-around;
    z-index: 100;
    &-date {
      color: white;
      font-size: 2em;
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      .separator {
        width: 100%;
        height: 1px;
        background-color: white;
      }
      h3, h6 {
        margin: 0;
      }
      h6 {
        font-size: 16px;
      }
    }
    &-logo {
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
  &-landing-right {
    position: relative;
    background-position-y: 55px;
    &-input {
      height: 100%;
      display: flex;
      &-form {
        text-align: center;
        color: white;
        width: 50%;
        display: flex;
        padding: 10px;
        flex-direction: column;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 2em;
        input {
          outline: none;
          color: white;
          background-color: black;
          padding: 10px;
          border: none;
          margin: 15px;
          border-bottom: 1px solid white;
        }
        button {
          height: 3em;
          padding: 10px;
          border: 1px solid white;
          background: black;
          color: white;
          border-radius: 5px;
          margin-top: 4em;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
    &-timer {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
    }
    &-social {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 15px;
      &-links {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        height: 60%;
        img {
          width: 25px;
          height: 25px;
          margin: 1em 0;
          cursor: pointer;
          &:hover {
            transform: rotate(45deg);
          }
        }
      }
      &-main {
        height: 135px;
        width: 65px;
      }
    }
  }
}